---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro"
import ServicesSection from "../components/ServicesSection.astro"
import AboutSection from "../components/AboutSection.astro"
import ContactCTA from "../components/ContactCTA.astro"
---

<BaseLayout title="Home | Luna Handyman Solutions">
  <Hero />

  <main class="space-y-24">
    <ServicesSection />
    <AboutSection />
    <ContactCTA />
  </main>
</BaseLayout>
